// I want to change the formatting on my starts page with sign up and sign in. I think I want more of a middle page layout. 
@import '~bootstrap/scss/bootstrap';
$black: #000;
body {
  background-color: #9BA17B;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content: center;
  text-align: center

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}
.border {
  border: 3px solid $black;
  margin: 0;
  padding: 0
}

#sign-up-form {
  border: .5px solid $black;
  margin: 15px;
  padding: 15px;
  background-color: #FA8072;
  border-radius: 10px
}
#sign-up {
  margin: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid $black;
  border-radius: 2px;
  text-align: center;
  background-color: #8da5ae;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 85%;
  text-shadow: 4px 4px #000000
}
#sign-up:hover {
  background-color: #9BA17B
}

#sign-in-form {
  border: .5px solid $black;
  margin: 15px;
  padding: 15px;
  background-color: #FA8072; 
  border-radius: 10px
}
#sign-in {
  margin: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid $black;
  border-radius: 2px;
  text-align: center;
  background-color: #8da5ae;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 85%;
  text-shadow: 4px 4px #000000
}
#sign-in:hover {
  background-color: #9BA17B
}
#sign-out {
  display: flex;
  justify-content: center;
  align: center;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid $black;
  border-radius: 2px;
  text-align: center;
  background-color: #8da5ae;
  color: #FFFFFF;
  font-weight: bold;
  text-shadow: 3px 3px #000000;
  font-size: 95%
}
#sign-out:hover {
  background-color: #FA8072
}
#sign-out-header {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #FA8072;
  border: .5px solid $black;
  border-radius: 10px;
  color: #8da5ae;
  text-shadow: 3px 3px #000000
}

// I want to add better fonts here, but this was just vscode already and easy to add in with out importing any font families from google.
h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #FFFFFF;
  text-shadow: 4px 4px #000000;
  display: flex;
  justify-content: center;
  align: center
}
h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #FFFFFF;
  text-shadow: 4px 4px #000000;
  display: flex;
  justify-content: center;
  align: center
}

#game-board {
  background-color: #FA8072;
  display: grid;
  flex-wrap: wrap;
  width: 400px;
  margin: 50px auto;
  margin-top: 50px auto;
  margin-bottom: 50px auto;
  margin-left: 50px auto;
  margin-right: 50px auto;
  padding: 50px;
  border-radius: 25px;
  grid-gap: 15px;
  margin-top: 50px;
  justify-content: center;
  align: center
}
//height and width need to be the same because you are trying to make a box. Try and pick a good size.
// vh and vw measure the percentage of height and width of the viewport respectively. I looked at this question from Stack Overflow, but it made the units look even more similar. vw and vh are a percentage of the window width and height, respectively: 100vw is 100% of the width, 80vw is 80%, etc.
// not totally sure what is better but both seem to be able to size my boxes.
.cell {
  height: 100px;
  width: 100px;
  background-color: #8da5ae;
  display: flex;
  border: 2px solid;
  border-color: black;
  justify-content: center;
  align-items: center;
  line-height: 100px;
  border-radius: 10px
}
.cell:hover {
  background-color: #FA8072
}
.row.row-cols-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align: center;
  margin: auto 0;
  padding: 10px auto
}

.selection-box {
  display: flex;
  justify-content: center;
  align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid $black;
  border-radius: 10px;
  text-align: center;
  background-color: #8da5ae
}
#selection-box-header {
  display: flex;
  justify-content: center;
  align: center;
  margin: 20px;
  padding: 20px;
  text-align: center;
  background-color: #FA8072;
  border: .5px solid $black;
  border-radius: 10px;
  color: #FFFFFF;
  text-shadow: 3px 3px #000000;
  font-size: 175%
}
#selection-box-header span {
  color: #8da5ae;
  font-size: 150%
}

#restart {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  padding: 10px;
  border: 1px solid $black;
  border-radius: 2px;
  text-align: center;
  background-color: #FA8072;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 100%;
  text-shadow: 3px 3px #000000
}
#restart:hover {
  background-color: #9BA17B
}
#create-game-header {
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #FA8072;
  border: .5px solid $black;
  border-radius: 10px;
  color: #8da5ae;
  text-shadow: 3px 3px #000000
}
#create-game {
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid $black;
  border-radius: 2px;
  text-align: center;
  display: center;
  background-color: #8da5ae;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 100%;
  text-shadow: 3px 3px #000000
}
#create-game:hover {
  background-color: #FA8072
}
.choices {
  display: flex;
  justify-content: center;
  align: center
}
.playerX {
 display: flex;
 justify-content: center;
 margin: 10px;
 padding: 10px;
 border: 1px solid $black;
 border-radius: 2px;
 text-align: center;
 background-color: #FA8072;
 color: #FFFFFF;
 font-weight: 700;
 font-size: 100%;
 text-shadow: 4px 4px #000000
}
.playerX:hover {
  background-color: #9BA17B
}
.playerO {
 display: flex;
 justify-content: center;
 margin: 10px;
 padding: 10px;
 border: 1px solid $black;
 border-radius: 2px;
 text-align: center;
 background-color: #FA8072;
 color: #FFFFFF;
 font-weight: 700;
 font-size: 100%;
 text-shadow: 4px 4px #000000
}
.playerO:hover {
  background-color: #9BA17B
}






//Game status has been taken out for the moment. IDK if I need player x and o set up this way either. I feel a little confused as to how I want to attack filling in my board.
// .game-status {
//   display: flex;
//   justify-content: center;
//   margin: 10px;
//   padding: 10px;
//   border: 1px solid $black;
//   border-radius: 2px;
//   text-align: center;
//   background-color: #FA8072;
//   color: #FFFFFF;
//   font-weight: 700;
//   font-size: 100%;
//   text-shadow: 4px 4px #000000
// }
// .game-status span {
//   color: #66FF00;
//   font-size: 110%
// }